body {
  background-color: lightgrey;
}

.profile {
  padding-top: 30px;
  margin: 50px;
  width: 270px;
  text-align: center;
  background-color: white;
  border-radius: 6px;
}

.avatar {
  margin-bottom: 25px;
  background-color: lightgrey;
  border-radius: 50%;
}

.name {
  margin-bottom: 10px;
  font-weight: 600;
}

.tag {
  margin-bottom: 10px;
  color: grey;
}

.location {
  font-size: 14px;
  color: grey;
}

.stats {
  display: flex;
  margin-top: 20px;
  background-color: rgb(238, 242, 247);
  border-top: 1px solid rgb(221, 221, 221);
}

.stats > li {
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 0;
  width: calc(100% / 3);
}

.stats > li:nth-child(2) {
  border-right: 1px solid rgb(221, 221, 221);
  border-left: 1px solid rgb(221, 221, 221);
}

.stats .label {
  margin-bottom: 5px;
  color: rgb(117, 117, 117);
}

.stats .quantity {
  font-weight: 700;
}
